html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: #f2f5f8;
}

main {
  padding: 71px 24px;
  display: grid;
  gap: 24px;
}
main .daniel {
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top 0 right 24px;
  background-color: #733fc8;
}
main .daniel .card__image {
  border: 2px solid #a775f1;
}
main .daniel .card__name {
  color: #ffffff;
}
main .daniel .card__verified {
  color: #ffffff;
}
main .daniel .card__heading {
  color: #ffffff;
}
main .daniel .card__para {
  color: #cfcfcf;
}
main .jonathan {
  background: #48556a;
}
main .jonathan .card__name {
  color: #ffffff;
}
main .jonathan .card__verified {
  color: #ffffff;
}
main .jonathan .card__heading {
  color: #ffffff;
}
main .jonathan .card__para {
  color: #ffffff;
}
main .jeanette {
  background: #ffffff;
}
main .jeanette .card__name {
  color: #48556a;
}
main .jeanette .card__verified {
  color: #48556a;
}
main .jeanette .card__heading {
  color: #48556a;
}
main .jeanette .card__para {
  color: #48556a;
}
main .patrick {
  background: #19202d;
}
main .patrick .card__image {
  border: 2px solid #733fc8;
}
main .patrick .card__name {
  color: #ffffff;
}
main .patrick .card__verified {
  color: #ffffff;
}
main .patrick .card__heading {
  color: #ecf2f8;
}
main .patrick .card__para {
  color: #ffffff;
}
main .kira {
  background: #ffffff;
}
main .kira .card__name {
  color: #48556a;
}
main .kira .card__verified {
  color: #48556a;
}
main .kira .card__heading {
  color: #48556a;
}
main .kira .card__para {
  color: #48556a;
}
main .card {
  padding: 26px 32px 32px 32px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
  border-radius: 8px;
}
main .card__info {
  display: flex;
  align-items: center;
}
main .card__image {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
main .card .name-and-verified {
  margin-left: 17px;
}
main .card__name {
  font-weight: 500;
  font-size: 0.813rem;
  line-height: 0.813rem;
  margin: 0;
}
main .card__verified {
  margin-top: 4px;
  font-weight: 500;
  font-size: 0.688rem;
  line-height: 0.688rem;
  mix-blend-mode: normal;
  opacity: 0.5;
}
main .card__heading {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 0;
  margin-top: 18px;
}
main .card__para {
  margin: 0;
  margin-top: 16px;
  font-weight: 500;
  font-size: 0.813rem;
  line-height: 1.125rem;
  mix-blend-mode: normal;
  opacity: 0.7;
}

blockquote {
  margin: 0;
}

figure {
  margin: 0;
}

h1 {
  visibility: hidden;
}

@media (min-width: 75em) {
  main {
    padding: 0;
    margin: 164px 165px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 24px;
  }
  main .daniel {
    grid-column: 1/3;
    background-position: top 0 right 80px;
  }
  main .daniel .card__para {
    margin-top: 16px;
  }
  main .jonathan .card__para {
    margin-top: 16px;
  }
  main .jeanette {
    grid-column: 1/2;
  }
  main .jeanette .card__para {
    margin-top: 24px;
  }
  main .patrick {
    grid-column: 2/4;
  }
  main .patrick .card__para {
    margin-top: 24px;
  }
  main .kira {
    grid-column: 4/5;
    grid-row: 1/3;
  }
  main .kira .card__para {
    margin-top: 24px;
  }
}/*# sourceMappingURL=styles.css.map */